<h1><u>Contact Us</u></h1>
<p><h2><b><u>Contact Us :</b></u></br></br>
BeaverLogic</br>
FF – 1,2, JBR Arcade,</br>Science City Road.</br>Ahmedabad
</br></br>Website : <a href="http://www.beaverlogic.com">www.beaverlogic.com</a></h2>
</p>
