<h1><u>Listing clients</u></h1>

<table border="2" align="center" cellpadding="10">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name%></td>
        <td><%= client.city%></td>

        <% if client.projects.count < 1 %>

         <td><%= link_to 'Delete', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         <% end %>
      </tr>

    <% end %>
  </tbody>
  
</table>
<br>

<%= link_to 'New Client', new_client_path %>
