<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Contact Us", contact_us_path %></li>
    </ul>
    <center>
    <span class="copyright">
    &copy;2014 BeaverLogic. All Rights Reserved.				
	</span>
	</center>
  </nav>
</footer>